body {
    background: radial-gradient(circle at 100%, #11b8e2, #11b8e2 50%, #eee 55%, #11b8e2 65%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
h1{
  font-family:'Courier New', Courier, monospace;
  font-size: 250%;
  text-shadow: 2px 2px 7px rgb(73, 71, 71);
  text-align: center;
}
