body {
  background-color: #222;
}

#nav {
  background-color: rgb(228, 225, 222);
  padding: 5px;
  margin: 5px;
  text-align: center;
}

li {
  display: inline;
  padding: 20px;
}

.parent {
  display: flex;
  height: 100%;
  font-family: arial, sans-serif;
}

.left {
  width: 40%;
  /*padding: 2em;*/
  color: #ffffff;
  background: #eeeeee;
  min-height: 500px;
}

.right {
  width: 100%;
  color: #222;
  background: #ccc;
  text-align: center;
}

@media screen and (max-width: 600px){
  
  .parent {
    flex-direction: column-reverse;  
  }
  
  .left {
    width: auto;
    min-height: 300px;
  }
  
  .right {
    background: #bbd156;
  }

  
  
}
