body {
    background: radial-gradient(circle at 100%, #9c27b0, #11b8e2 50%, #eee 65%, #11b8e2 65%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
h1{
  font-family:'Courier New', Courier, monospace;
  font-size: 250%;
  text-shadow: 2px 2px 7px rgb(73, 71, 71);
  text-align: center;
}

fieldset {
  width: 40%;
}

input{
  font-size: larger;
}
